{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_content %}
    <h1>{% trans %} Neu Calendar{% endtrans %}: {{user.name}} </h1>

    {{ include('calendar/_form.html.twig') }}

{% endblock %}
