<div class="card">
    <div class="card-header">
        <h5 class="card-title">{{ task.name }}</h5>
    </div>
    <div class="card-body">
        <p class="card-text">{{ task.description | raw}}</p>
        {% include 'common/avatar.html.twig' with {'user': task.assignedTo} %}    
    </div>
    <div class="card-footer">
        <a href="{{
            ea_url()
                .setController('App\\Controller\\Admin\\TaskCrudController')
                .setAction('detail')
                .setEntityId(task.id)
        }}" class="btn btn-primary">{% trans %}Show {% endtrans %}</a>
    </div>
</div>
