:root {
    /* make the backend contents as wide as the browser window */
    --body-max-width: 100%;
    /* change the background color of the <body> */
    --body-bg: #feffff;
    /* make the base font size smaller */
    --font-size-base: 13px;
    /* remove all border radius to make corners straight */
    --border-radius: 0px;
    --sidebar-menu-active-item-color: #e81e28;
    --button-primary-bg: #e81e28;
    --color-primary: #e81e28;
    --color-secondary: #e81e28;
    --sidebar-bg: white;
    --sidebar-menu-color: black;
    --sidebar-menu-icon-color: black;
    --sidebar-menu-header-color: black;
    --button-shadow: 0 0 0 0;
    --bs-border-radius: 0;
}