{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        Falls ein Konto mit Ihrer E-Mail-Adresse übereinstimmt, wurde Ihnen gerade eine E-Mail mit einem Link zum Zurücksetzen Ihres Passworts gesendet.
        Dieser Link verfällt in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Falls Sie keine E-Mail erhalten haben, überprüfen Sie bitte Ihren Spam-Ordner oder <a href="{{ path('app_forgot_password_request') }}">versuchen Sie es erneut.</a>.</p>
{% endblock %}
