{% extends 'base.html.twig' %}

{% block title %}Passwort zurückzusetzen{% endblock %}

{% block body %}
    <h1>Passwort zurückzusetzen</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">{% trans %}Reset password{% endtrans %}</button>
    {{ form_end(resetForm) }}
{% endblock %}
