{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_content %}
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card" style="width:100px; height: 100px;">
					Utilisateurs
				</div>
				<!-- Repeat this card block for each card -->
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-3">
					</div>
					<div class="col-md-3">
					</div>
					<div class="col-md-3">
					</div>
					<div class="col-md-3">
					</div>
				</div>
				<!-- Repeat this row block for each row -->
			</div>
		</div>
	</div>
{% endblock %}
