<a href={{ ea_url()
                    .setController('App\\Controller\\Admin\\MediaCrudController')
                    .setAction('servePrivateFile')
                    .setEntityId(file.id)
        }}" target="_blank" >
<i class="fa fa-file-text-o" style="font-size:5em"></i>
    {{ file.filename | slice(0, 10) }}
</a>