{% extends 'widget/_skeleton.html.twig' %}
{% block content %}
    {% for entry in notes %}
        <div data-controller="note">
            <div id="note"> {{ entry.note }} </div>

            <br/>
        </div>
    {% endfor %}
{% endblock %}
