<li class="menu-item">
	<a href="#{{ menuItem.label}}" data-bs-title="{{ menuItem.label|trans|raw }}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-trigger="hover" class="menu-link">
		<span class="menu-icon">
			<i class="{{menuItem.icon}}"></i>
		</span>
	</a>
</li>
