.sidepanel{
    display: none;
    background-color: white;
    position:absolute; 
    height:100vh;
    width:30vw;
    min-width: 300px;
    top:0;
    right:0;
    padding:1em;
    border-left: 1px solid black;
    &.show{
        display: block;
    }
}