.content-search{
    border:1px solid #777;
    border-radius: 30px;
    max-width:fit-content;
    display: flex;
    * {
        /* Styles for all descendants */
        margin: 5px;
        align-self: baseline;
    }
    input {
        height: 20px;
        border: none;
        border-bottom: 1px solid $color-inactive;
        border-radius: 0;
    }
}
.active{
    color: $color-primary;
}
i{
    color: $color-inactive;
}