#widgetTable{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    td{
        padding: 10px;
        min-width:200px;
        height:200px;
        border-bottom: 1px solid #ccc;
        border: 1px dotted black;
        &:last-child{
            border-right: 0;

        }
        position:relative;
        .card{
            position:absolute;
            min-width:90%;
            top: 5px;
        }
    }
}
#widgetMain{
    .card{
        text-align:center;
    }
}
.dashboard.widget.container{
    .card{
        margin:1em 0;
        background-color:white;
    }
}
