@import "~bootstrap/scss/bootstrap";

table .text-light{
    color: darkgray!important;
}
.component_bool{
    text-align:center;
    &.success{
        color: green;
    }
}
.card_bignumber{
    font-size: 4rem;
    font-weight: bold;
}