
table .text-light{
    color: darkgray!important;
}
.component_bool{
    text-align:center;
    &.success{
        color: green;
    }
}
.card_bignumber{
    font-size: 4rem;
    font-weight: bold;
}

.avatar{
    display: inline-block;
}
.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    width:50px;
    height:50px;
    &.small{
        width:30px;
        height:30px;
    }
}

.comment-container {
    width: 20vw;
    max-width: 300px;
    position: relative; /* Ensure the container is the positioned ancestor */
}

.card.comment{
    margin-bottom:2em;
}