<div class="card comment">
    <div class="card-body">
        <p class="card-text">{{ task.comment | raw}}</p>
            
    </div>
    <div class="card-footer">
        {% if task.user is not null %}
            {% include 'common/avatar.html.twig' with {'user': task.user, 'class':'small'} %} | {{ task.user.name }} | {{ task.creationDate|date('Y-m-d H:i') }}
        {% endif %}   
    </div>
</div>
