<div class="card">
    <div class="card-body">
        <p class="card-text">{{ task.comment | raw}}</p>
        {% include 'common/avatar.html.twig' with {'user': task.user} %}    
    </div>
    <div class="card-footer">
        <a href="" class="btn btn-primary">Show</a>
        <a href="" class="btn btn-warning">Edit</a>
        <a href="" class="btn btn-danger">Delete</a>
    </div>
</div>
