<div class="avatar ">
    {% if user is not null and  user.avatarFilename is not null %}
        <img class="{% if class is defined and class is not null %} {{class}} {% endif %}" src="/uploads/avatar/{{ user.avatarFilename }}" alt="{{ user.name }}">
    {% endif %}
</div>