<div class="sidepanel" style="" data-controller="sidebar" data-sidebar-target="sidebar">
    <div class="close">
        <a href="javascript:void(0)" class="closebtn" data-action="click->sidebar#close">X</a>
    </div>
    <div class="sidepanel_title" data-sidebar-target="title"> </div>
    <div class="sidepanel_body"  data-sidebar-target="content" > Side Body
    </div>
</div>
