<div class="sidepanel" style="position:absolute; height:100vh;width:30vw;top:0;right:0;">
    <div class="sidepanel_title"> Side Panel
    </div>
    <div class="sidepanel_body"> Side Body
    </div>
</div>
