<div class="content-search" data-controller="time" >
	<span id="timer">
		00:00
	</span>
	<i class="user-avatar-icon-foreground fa fa-play fa-inverse" id="start" style="color:lightgray" data-action="click->time#start"></i>
	<i class="user-avatar-icon-foreground fa fa-pause fa-inverse" id="break" style="display:none; color:lightgray" data-action="click->time#break"></i>
	<i class="user-avatar-icon-foreground fa fa-stop fa-inverse" id="stop" style="color:lightgray" data-action="click->time#stop"></i>
	<input type="text" id="comment" data-action="input->time#retrieveList" data-time-target="commentable" class="form-control" style="width:200px;display:none">
	<span id="actualCommentable"></span>
	<i class="user-avatar-icon-foreground fa fa-plus fa-inverse" id="stop" style="color:lightgray" data-action="click->time#changeCommentable"></i>
	<i class="action-icon fa fa-cancel" id="cancelChangeCommentable" data-action="click->time#cancelChangeCommentable" style="display:none"></i>
	<input type="hidden" id="commentableId">
	<div id="commentable-list" class="hidden"></div>
	<input type="text" id="relation" class="form-control" style="max-width:200px">
	<i class="user-avatar-icon-foreground fa fa-comment fa-inverse" style="color:lightgray" data-action="click->time#saveComment"></i>
</div>
