{% extends 'base.html.twig' %}

{% block title %}{% trans %} User index {% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %} User index{% endtrans %}</h1>
    {% if filter is defined and filter is not null %}
        {{ generateFilter(filter) | raw }}
    {% endif %}
    {{ generateDatatableDOM(tableParams.tableId,tableParams.targetEntity,tableParams.columns,tableParams.params)  |raw }}
    <a href="{{ path('app_user_new') }}" class="btn btn-info">{% trans %} Neu {% endtrans %}</a>
{% endblock %}
