<div class="col-md-4">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Day Overview</h5>
			<table>
				<tbody>
					{% for timestamp,events in journal %}
					<tr>
						<td style="border-right:black 1px dotted; padding:0.5em;">{{timestamp}}</td>
						<td>
							{% for event in events %}
							<div style="position:relative">
								<div style="position:absolute; top:0px;left:-5px;; width:10px; height: 150%; background-color: red;"></div>
								<div style="position:absolute; top:0px;left:10px;color:darkgray;width:max-content"><i>{{event}}</i> </div>
							</div>
							{% endfor %}
						
						</td>
					</tr>
					{% endfor %}
					<tr>
						<td style="border-right:black 1px dotted; padding:0.5em;">10:00</td>
						<td style="position:relative">
                            <div style="position:absolute; top:0px;left:-5px;; width:10px; height: 150%; background-color: red;"></div>
                            <div style="position:absolute; top:0px;left:10px;color:darkgray;width:max-content"><i>IWIP > final</i> </div>
                        
                        </td>
					</tr>
					<tr>
						<td style="border-right:black 1px dotted; padding:0.5em;">10:30</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
