{% extends 'email/base.html.twig' %}

{% block title %} Willkommen bei der Zeiterfassungssysstem {% endblock %}

{% block body %}

<h1> Willkommen bei der Zeiterfassungssysstem </h1>
<p> Hallo {{ user.email }}! </p>
<p> Wir haben deinen Konto erstellt. </p>
<p> Bitte klicke auf den folgenden Link, um ein neues Passwort zu erlangen: </p>
<a href="{{url('app_forgot_password_request')}}"> Passwort zurücksetzen </a>
<p> Vielen Dank! </p>
    
{% endblock %}
